* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Catamaran', sans-serif;
	font-size: 16px; /*1em=16px*/
	text-align: center;
}
a {
	text-decoration: none;
	color: #000;
	border-bottom: .7px solid #000;
}
nav	{
	height: 8vh;
	background-color: black;
	text-align: left;
	padding-top: 15px;
	padding-left: 40px;
	text-transform: uppercase;
}
nav a {
	color: #cccccc;
	font-weight: 100;
	margin-right: 20px;
}
footer	{
	height: 16vh;
	background-color: #DC4744;
	text-align: center;
	text-decoration-color: white;
	padding-top: 15px;
	padding-left: 40px;
}
footer a {
	color: #cccccc;
	font-weight: 100;
	margin-right: 20px;
}
hr {
	width: 1000px;
	margin: auto;
}

h1, h2, h3, p {
	margin-top: 10px;
}
h1 {
	color: #F27572;
}
h2 {
	color: gray;
	font-weight: 100;
	line-height: 120%;
}
h3 {
	color: #DC4744;
	margin-bottom: 15px;
}
h4 {
	color: gray;
	font-weight: 700;
}
h5 {
	color: white;
	font-weight: 100;
}
p {
	line-height: 1.5em;
	width: 900px;
	margin: 1em auto;
}
ul {
	text-align: left;
	padding-left: 10em;
	padding-top: 1em;
}
#slogan {
	font-style: italic; 
	color: #DC4744;
}
#splash {
	background-image: url("../images/Background_image_LT2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 4em;
	height: 65vh;
	margin: auto;
}
#selling {
	background-color: #D8645B;
	margin-top: 0;
}
#aside {
	float: right;
}
.steps {
	color: #F27572
}
.intro	{
	padding-left: 9em;
	padding-right: 9em;
}
.footer_text {
	color: white;
}



