body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-image: url("../images/Background_image_LT2.jpg");
	background-size: 1500px;
	background-repeat: no-repeat;
}
h1 {
	color: #F27572;
}
h2 {
	color: #DC4744;
}

h4 {
	color: gray;
}
#slogan {
	font-style: italic; 
	color: #DC4744;
}
h4 {
	font-weight: 300;
}
ul {
	text-align: left;
}
h3 {
	color: #DC4744;
}
.steps {
	text-decoration: underline;
	color: #a9cc0d
}
